<td>
    <span title="{{ variable.description }}">{{ variable.name }}</span>
</td>
<td class="pl-4">
    {% if not variable.protect %}
        <span>{{ variable.value }}</span>
    {% else %}
        <span class="fa fa-user-secret" title="Protected Value"/>
    {% endif %}
</td>
<td class="pl-4">
    {% if var_update %}
        <button class="button is-small has-text-info is-white"
                type="button"
                title="Edit"
                hx-get="{% url 'ui:update-variable' pk=variable.id parent_id=parent_id %}">
            <span class="fa fa-pencil-alt"/>
        </button>
        {% comment %} <a class="button fa fa-pencil-alt is-small has-text-info is-white" {% if show_add or editting_id %}disabled{% endif %} unicorn:click="set_editing('{{ variable.id }}')" title="Edit"></a> {% endcomment %}
    {% endif %}
    {% if var_delete %}
        <button class="button is-small has-text-danger is-white"
                type="button"
                title="Delete"
                hx-confirm="Are you sure you want to delete {{ variable.name }}?"
                hx-post="{% url 'ui:delete-variable' variable.id %}">
            <span class="fa fa-trash"/>
        </button>
        {% comment %} <a class="button fa fa-trash is-small has-text-danger is-white" unicorn:click="delete_var('{{ variable.id }}')" title="Delete"></a> {% endcomment %}
    {% endif %}
</td>
