{% extends "base.html" %}

{% load static %}
{% load extras %}

{% block menu_select %}{% url 'ui:function-list' %}{% endblock menu_select %}
{% block content %}
<div class="column is-full">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'ui:function-list' %}">Function List</a></li>
            <li><span class="icon mr-0 ml-2"><i class="fa fa-industry"></i></span><a class="pl-0" href="{% url 'ui:package-detail' function.package.id %}">{{ function.package.name }}</a></li>
            <li class="is-active"><a href="#">{{ function.name }}</a></li>
        </ul>
    </nav>
</div>
<div class="column">
    <div class="block">
        <h1 class="title is-1">
            <span class="icon"><i class="fa fa-cube"></i></span>&nbsp;&nbsp;{{ function.name }}
        </h1>
    </div>
    <form id="djangoForm" method="post" action="{% url 'ui:function-execute' %}">
        {% csrf_token %}
        <input type="hidden" name="function_id" value="{{ function.id }}"/>
        <div class="column has-addons">
            {{ form.non_field_errors }}
            {{ form }}
            <input class="button is-link" type="submit" value="Execute"/>
        </div>
    </form>
    <div class="p-3 accordions">
        <div class="accordion is-info">
            <div class="accordion-header toggle">
                <h3 class="is-4">Schema</h3>
                <button class="button toggle"></button>
            </div>
            <div class="accordion-body">
                <div class="accordion-content">
                    <pre>{{ function.schema | pretty_json }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/bulma-accordion-2.0.1.min.css' %}"/>

<script src="{% static 'js/bulma-accordion-2.0.1.min.js' %}" defer></script>
<script src="{% static 'js/bulma-toast-2.4.1.min.js' %}" defer></script>

<script>
    window.addEventListener('load', (event) => { bulmaAccordion.attach(); });
</script>
<script>
    function getParams(form, keys) {
        const params = []
        for (const key of keys) {
            const elem = form.querySelector(`#param-${key}`)
            const around = elem.type === 'number' ? '' : '"'
            params.push(`"${key}": ${around}${elem.value}${around}`)
        }
        return params
    }

    function handleTaskResponse(event) {
        const request = event.srcElement
        if (request.readyState == XMLHttpRequest.DONE) {
            if (request.status > 399) {
                const response = JSON.stringify(JSON.parse(request.response), null, 4)
                bulmaToast.toast({ duration: 99999, position: 'top-center', message: `Error Submitting Tasking:<pre style="text-align:left;">${response}</pre>`, type: 'is-danger' })
            } else {
                bulmaToast.toast({ position: 'top-center', message: 'Tasking Submitted', type: 'is-success' })
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const taskForm = document.querySelector("#createTask");
        taskForm.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            const params = []

            // Reformat the parameters into a JSON dictionary
            for (var [key, val] of formData) {
                const paramRegex = /param\-(?<param>.+)/gm
                const match = paramRegex.exec(key)
                if (match?.groups) {
                    params.push(match.groups.param)
                }
            }

            params.forEach(rem => formData.delete(`param-${rem}`))

            const request = new XMLHttpRequest();
            request.open("POST", '/api/v1/tasks/');
            request.onreadystatechange = handleTaskResponse

            formData.append('parameters', `{${getParams(taskForm, params).join(',')}}`)

            request.send(formData);
        })
    });        

</script>
{% endblock content %}
