<div class="modal" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title">
                    {% block modal_title %}
                    {% endblock modal_title %}
                </h1>
                <button class="btn btn-close"
                        type="button"
                        aria-label="close"
                        onclick="return this.parentNode.parentNode.parentNode.remove();">
                </button>
            </header>
            {% block form_declaration %}
            {% endblock form_declaration %}
            <section class="modal-body">
                <div class="subtitle">
                    {% block modal_description %}
                    {% endblock modal_description %}
                </div>
                <div class="block">
                    {% block modal_content %}
                    {% endblock modal_content %}
                </div>
            </section>
            {% block modal_nofooter %}
                <footer class="modal-footer">
                    {% block modal_footer %}
                    {% endblock modal_footer %}
                </footer>
            {% endblock modal_nofooter %}
            {% block form_end %}
            {% endblock form_end %}
        </div>
    </div>
</div>
