{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Functionary User Interface"/>
        <meta name="keywords" content="Functionary"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon/favicon-32x32.png' %}"/>
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon/favicon-16x16.png' %}"/>
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-6.2.1.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-solid-6.2.1.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/pretty-print-json-1.2.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/functionary.css' %}"
              type="text/css"/>
        {# Load the bootstrap libraries #}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        {% block extra_style %}
        {% endblock extra_style %}
        <title>
            {% block title %}
                Functionary
            {% endblock title %}
        </title>
        <script src="{% static 'js/htmx-1.8.4.min.js' %}"></script>
        <script src="{% static 'js/pretty-print-json-1.2.min.js' %}"></script>
        <!-- This script will run when the page loads and the menus are available -->
        <script src="{% static 'js/highlight-menu-item.js' %}" defer></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a href="{% url 'ui:home' %}" class="navbar-brand">
                    <h1>
                        <img class="functionary-logo d-inline-block align-text-top"
                             src="{% static 'functionary_f_logo.png' %}"
                             alt="F"
                             width="64"
                             height="64"/>
                        <span>unctionary</span>
                    </h1>
                    <h2 >Run your functions</h2>
                </a>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'socialaccount_connections' %}">
                                <i class="fa fa-user"></i>
                                <span>{{ user }}</span></a>
                        </li>
                        <li class="nav-item dropdown">{% include "partials/env_selector.html" %}</li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                <button class="btn nav-link" type="submit">
                                    <i class="fa fa-door-open"></i>
                                    <span class="text-decoration-underline">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    {% if user.is_authenticated %}
                        <div class="navbar-light position-fixed h-100 w-sidebar">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="{% url 'ui:task-list' %}">
                                    <i class="fa fa-lg fa-clipboard-list text-secondary"></i>&nbsp;Tasking</a>
                                <hr/>
                                <a class="nav-link" href="{% url 'ui:build-list' %}">
                                    <i class="fa fa-lg fa-wrench"></i>&nbsp;Builds</a>
                                <a class="nav-link" href="{% url 'ui:package-list' %}">
                                    <i class="fa fa-lg fa-cubes"></i>&nbsp;Packages</a>
                                <a class="nav-link" href="{% url 'ui:function-list' %}">
                                    <i class="fa fa-lg fa-cube"></i>&nbsp;Functions</a>
                                <a class="nav-link" href="{% url 'ui:workflow-list' %}">
                                    <i class="fa fa-lg fa-diagram-next"></i>&nbsp;Workflows</a>
                                <a class="nav-link" href="{% url 'ui:scheduledtask-list' %}">
                                    <i class="fa fa-lg fa-clock"></i>&nbsp;Schedules</a>
                                {% if user.is_superuser %}
                                    <a class="nav-link"  href="{% url 'ui:environment-list' %}">
                                        <i class="fa fa-lg fa-building"></i>&nbsp;Environments
                                    </a>
                                    <a class="nav-link"  href="{% url 'ui:team-list' %}">
                                        <i class="fa fa-lg fa-users"></i>&nbsp;Teams</a>
                                {% endif %}
                            </nav>
                        </div>
                    {% endif %}
                </div>
                <div class="col-9">
                    {% if messages %}
                        {% include "partials/auth_messages.html" %}
                    {% endif %}
                    <div id="data_div"
                         hx-get="{{ request.get_full_path }}"
                         hx-trigger="reloadData from:body"
                         hx-select="#dataBlock"
                         hx-swap="innerHTML"
                         hx-swap-oob="true">
                        <div id="dataBlock" hx-disinherit="*">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Show an error message when a bad status comes back from an HTMX call
            document.body.addEventListener('htmx:beforeOnLoad', (event) => {
                if (event.detail.xhr.status >= 400) {
                    alert(event.detail.xhr.responseText)
                }
            });
        </script>
    </body>
</html>
