{% extends "base.html" %}
{% block title %}
    Sign Out
{% endblock title %}
{% block content %}
    <div class="content">
        <h1>Sign Out</h1>
        <p>Are you sure you want to sign out?</p>
        <br/>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="button is-primary" type="submit">Sign Out</button>
            <button class="button is-link"
                    hx-push-url="{{ request.META.HTTP_REFERER }}"
                    hx-get="{{ request.META.HTTP_REFERER }}">
                Cancel
            </button>
        </form>
    </div>
{% endblock content %}
